# Local .terraform directories (contains binaries and plugins)
**/.terraform/*

# .tfstate files (contains plain-text secrets and state information)
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all variable files as they may contain secrets
*.tfvars
*.tfvars.json

# Exclude override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control
# !override.tf

# Exclude CLI configuration files
.terraformrc
terraform.rc
